.footer {
    background-color: $DarkBlue;
    // color: $White;
    padding: 2.5rem;
    text-align: center;

    .container {
        @include breakpoint-up(large) {
            display: grid;
            grid-template-columns: repeat(3, 1fr) 2fr;
            grid-template-rows: repeat(2, auto);
            grid-template-areas:
                "logo links1 links2 cta"
                "social links1 links2 copyright";
            justify-items: start;
        }
    }

    a {
        color: $White;
    }

    &__logo {
        display: inline-block;
        margin-bottom: 1.875rem;
        grid-area: logo;
    }

    &__social {
        @include breakpoint-down(medium) {
            margin-bottom: 1.875rem;
        }

        @include breakpoint-up(large) {
            grid-area: social;
        }

        a:not(:last-child) {
            display: inline-block;
            margin-right: 1rem;
        }
    }

    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.9375rem;

        @include breakpoint-down(medium) {
            line-height: 2;
        }

        @include breakpoint-up(large) {
            justify-content: space-between;
            align-items: start;
        }

        a {
            // height: 1.25rem;
            line-height: 2.25;
        }

        &.col1 {
            @include breakpoint-up(large) {
                grid-area: links1;
            }
        }

        &.col2 {
            @include breakpoint-down(medium) {
                margin-bottom: 1.875rem;
            }

            @include breakpoint-up(large) {
                grid-area: links2;
            }
        }
    }

    &__cta {
        @include breakpoint-up(large) {
            grid-area: cta;
            justify-self: end;
            text-align: right;
        }

        a.button {
            @include breakpoint-down(medium) {
                margin-bottom: 1.875rem;
            }
        }
    }

    &__copyright {
        font-size: 0.9375rem;
        @include breakpoint-up(large) {
            grid-area: copyright;
            // text-align: right;
            align-self: flex-end;
            justify-self: end;
        }
    }
}
